---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero" class="content-card">
      <h1>Maana-yA</h1>
      <a
        target="_blank"
        href="/rss.xml"
        class="rss-link"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon"
          ><path
            d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
          ></path><path
            d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
          ></path><circle cx="6" cy="18" r="2"></circle>
        </svg>
        <span class="visually-hidden">RSS Feed</span>
      </a>

      <p>
        <b>Maana-yA</b> ni blog inayokuletea na kukufafanulia maana mbalimbali ya
        machaguo ya betting na michezo tofauti tofauti ya ubashiri. Lengo ni kukufunulia
        mwanga katika safari yako ya ubashiri kwa kujua michezo mbalimbali na kuzidisha
        uwezekano wako wa ushindi.
      </p>
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Mitandao ya Kijamii:</div>
            <Socials />
          </div>
        )
      }
    </section>

    <div class="section-gap"></div>

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured" class="content-card">
            <h2>Zilizoangaziwa</h2>
            <ul class="card-list">
              {featuredPosts.map(({ data, slug }) => (
                <Card
                  href={`/posts/${slug}/`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          {recentPosts.length > 0 && <div class="section-gap" />}
        </>
      )
    }

    {
      recentPosts.length > 0 && (
        <section id="recent-posts" class="content-card">
          <h2>Makala Mpya</h2>
          <ul class="card-list">
            {recentPosts.map(
              ({ data, slug }, index) =>
                index < 4 && (
                  <Card
                    href={`/posts/${slug}/`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )}
          </ul>
        </section>
      )
    }

    <div class="all-posts-btn-wrapper">
      <LinkButton href="/posts/">
        Makala Zote
        <svg xmlns="http://www.w3.org/2000/svg"
          ><path
            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
          ></path>
        </svg>
      </LinkButton>
    </div>
  </main>

  <Footer />
</Layout>

<style>
  #main-content {
    max-width: 48rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
    margin-top: 1.5rem;
  }
  .section-gap {
    margin: 1.5rem 0;
  }
  /* ===== Hero Section ===== */
  #hero {
    padding: 2rem;
  }
  #hero h1 {
    margin: 1rem 0;
    display: inline-block;
    font-size: 1.875rem;
    font-weight: 700;
  }
  #hero .rss-link {
    margin-bottom: 1.5rem;
    display: inline-block;
    text-decoration: none;
  }
  #hero .rss-icon {
    margin-bottom: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    color: var(--bs-primary);
    transform: scale(1.1);
  }
  #hero p {
    margin: 0.5rem 0;
  }
  .social-wrapper {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  .social-links {
    margin-bottom: 0.25rem;
    margin-right: 0.5rem;
    white-space: nowrap;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    padding: 2rem;
  }
  #featured h2,
  #recent-posts h2 {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.04em;
  }
  .all-posts-btn-wrapper {
    margin: 2rem 0;
    text-align: center;
  }
  @media (min-width: 576px) {
    #hero h1 {
      margin: 2rem 0;
      font-size: 3rem;
    }
    #hero .rss-icon {
      margin-bottom: 0.75rem;
      transform: scale(1.25);
    }
    .social-wrapper {
      flex-direction: row;
      align-items: center;
    }
    .social-links {
      margin-bottom: 0;
    }
  }
</style>
