---
import LinkButton from "./LinkButton.astro";

export interface Props {
  currentPage: number;
  totalPages: number;
  prevUrl: string;
  nextUrl: string;
}

const { currentPage, totalPages, prevUrl, nextUrl } = Astro.props;

const prev = currentPage > 1 ? "" : "disabled";
const next = currentPage < totalPages ? "" : "disabled";
---

{
  totalPages > 1 && (
    <nav
      class="pagination-wrapper d-flex align-items-center justify-content-center gap-3 mt-auto"
      aria-label="Pagination"
    >
      <LinkButton
        disabled={prev === "disabled"}
        href={prevUrl}
        className={`d-inline-flex align-items-center gap-1 me-3 ${prev}`}
        ariaLabel="Previous"
      >
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z" />
        </svg>
        Prev
      </LinkButton>
      {currentPage} / {totalPages}
      <LinkButton
        disabled={next === "disabled"}
        href={nextUrl}
        className={`d-inline-flex align-items-center gap-1 ms-3 ${next}`}
        ariaLabel="Next"
      >
        Next
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z" />
        </svg>
      </LinkButton>
    </nav>
  )
}

<style>
  .pagination-wrapper {
    margin: 0 0 2rem;
  }
  .disabled {
    pointer-events: none;
    user-select: none;
    opacity: 0.5;
  }
</style>
